<!DOCTYPE html>
<html>
<head>
  <title>Kokuten Admin</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<main>
  <%= render partial: "layouts/admin/sidebar" %>
  <div class="w-full pl-64">
    <%= render partial: "layouts/admin/header" %>
    <div class="p-5">
      <%= yield %>
    </div>
  </div>
</main>
</body>
</html>
