<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">
      Sing up
    </h2>

    <%= form_with scope: :user, url: signup_path, local: false, id: "signup", data: { controller: "signup", action: "ajax:success->signup#create" }, class: "mx-auto max-w-lg rounded-lg border" do |form| %>
      <div class="flex flex-col gap-4 p-4 md:p-8">
        <div class="flex gap-4">
          <%= form.text_field :first_name, placeholder: "First name", required: true, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-orange-300 transition duration-100 focus:ring" %>
          <%= form.text_field :last_name, placeholder: "Last name", required: true, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-orange-300 transition duration-100 focus:ring" %>
        </div>
        <%= form.text_field :username, placeholder: "Username", required: true, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-orange-300 transition duration-100 focus:ring" %>
        <%= form.text_field :phone_number, placeholder: "Phone number", required: true, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-orange-300 transition duration-100 focus:ring" %>
        <%= form.text_field :email, placeholder: "email", required: true, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-orange-300 transition duration-100 focus:ring" %>

        <%= form.submit "Sign up", class: "block rounded-lg bg-gray-800 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-gray-300 transition duration-100 hover:bg-gray-700 focus-visible:ring active:bg-gray-600 md:text-base cursor-pointer" %>

        <div class="flex items-center justify-center bg-gray-100 p-4">
          <p class="text-center text-sm text-gray-500">
            Already have an account?
            <%= link_to "Log in", login_path, class: "text-orange-500 transition duration-100 hover:text-orange-600 active:text-orange-700" %>
          </p>
        </div>
      </div>
    <% end %>

  </div>
</div>
