<h1> hello, world!</h1>
<h2>Total amount of token: <%= Token.instance.total_amount %></h2>

<h2>FundsTransaction</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Source Type</th>
    <th>Target Type</th>
    <th>Transaction Type</th>
    <th>Transaction Time</th>
  </tr>
  <% FundsTransaction.all.each do |ft| %>
    <tr>
      <td><%= ft.id %></td>
      <td><%= ft.source_type %></td>
      <td><%= ft.target_type %></td>
      <td><%= ft.transaction_type %></td>
      <td><%= ft.transaction_time %></td>
    </tr>
  <% end %>
</table>

<% if current_user %>
  <h3>Current: <%= current_user.username %></h3>
  <% if current_user.account.present? %>
    <h3>Account balance: <%= number_to_currency(current_user.account.balance, locale: :jp) %></h3>
  <% end %>
  <% if current_user.wallet.present? %>
    <h3>Wallet balance:  <%= number_to_currency(current_user.wallet.balance, locale: :jp, unit: '₳ ') %></h3>
  <% end %>
  <div>
    <%= link_to 'View account', account_path %>
    <%= link_to 'View wallet', wallet_path %>
  </div>
  <div><%= button_to 'Log out', session_path, method: :delete %></div>
<% else %>
  <div><%= link_to 'Sign in', new_session_path %></div>
  <div><%= link_to 'Sign up', new_user_path %></div>
<% end %>
