<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <p class="mb-2 text-center font-semibold text-orange-500 md:mb-3 lg:text-lg">
      Introducing
    </p>

    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">
      Making Banks More Energetic with Technology
    </h2>

    <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
      This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a
      real written text but is random or otherwise generated.
    </p>

  </div>
</div>


<div class="mx-auto max-w-screen-md text-center md:text-lg my-10">
  <div class="relative overflow-x-auto">
    <div class="mb-2 text-center text-2l font-bold text-gray-800">
      Funds Transaction
    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          ID
        </th>
        <th scope="col" class="px-6 py-3">
          Source
        </th>
        <th scope="col" class="px-6 py-3">
          Target
        </th>
        <th scope="col" class="px-6 py-3">
          Transaction Type
        </th>
        <th scope="col" class="px-6 py-3">
          Transaction Time
        </th>
      </tr>
      </thead>
      <tbody>
      <% FundsTransaction.all.each do |ft| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4">
            <%= ft.id %>
          </td>
          <td class="px-6 py-4">
            <%= "#{ft.source_type}##{ft.source_id}" %>
          </td>
          <td class="px-6 py-4">
            <%= "#{ft.target_type}##{ft.target_id}" %>
          </td>
          <td class="px-6 py-4">
            <%= ft.transaction_type %>
          </td>
          <td class="px-6 py-4">
            <%= ft.transaction_time %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <h2>Total amount of token: <%= Token.instance.total_amount %></h2>
  </div>
</div>
