<h5 class="text-l font-bold mb-1">
  Current balance
</h5>
<%= @wallet.balance %>

<h5 class="text-l font-bold mb-1 mt-5">
  Wallet Transaction
</h5>
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 border">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 border">
    <tr>
      <th scope="col" class="border px-6 py-3">
        ID
      </th>
      <th scope="col" class="border px-6 py-3">
        Amount
      </th>
      <th scope="col" class="border px-6 py-3">
        Transaction Type
      </th>
      <th scope="col" class="border px-6 py-3">
        Transaction Time
      </th>
    </tr>
    </thead>
    <tbody>
    <% @wallet_transactions.each do |transaction| %>
      <tr class="bg-white border">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border">
          <%= transaction.id %>
        </th>
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border">
          <%= number_to_currency(transaction.amount, locale: :jp) %>
        </th>
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border">
          <%= transaction.transaction_type %>
        </th>
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap border">
          <%= transaction.transaction_time %>
        </th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
