<%= link_to '<- Home', root_path %>

<h3>Balance: <%= number_to_currency(@account.balance, locale: :jp) %> </h3>

<table border="1">
  <tr>
    <th>Transaction ID</th>
    <th>Amount</th>
    <th>Transaction Type</th>
    <th>Transaction Time</th>
  </tr>
  <% @account.account_transactions.each do |at| %>
    <tr>
      <td><%= at.id %></td>
      <td><%= number_to_currency(at.amount, locale: :jp) %></td>
      <td><%= at.transaction_type %></td>
      <td><%= at.transaction_time %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'Deposit', new_account_deposit_path %>
<%= link_to 'Withdrawal', new_account_withdrawal_path %>
<%= link_to 'Account Transfer', new_account_transfer_path %>
